@{
    ViewBag.Title = "Clinics";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <section id="gethelp">
        <br><br><br><br>



        <h1 style="text-align: center; font-size:xx-large">Partner Clinics</h1>
        <hr>


        <br><br>

        <section id="map">
            <iframe src="https://www.google.com/maps/d/embed?mid=1qHo06lP2oPTv_RcxRpNdBw_nm1d_zgco&hl=en" width="2282" height="480"></iframe>
        </section>

        <section id="clinics">
            <div class="row my-4">

                <div class="col-lg-3 col-md-12 ml-auto" align="left">


                    <p><span id="more-313"></span></p>
                    <h2>Louisville, KY</h2>
                    <br>

                    <p style="font-size:large"><i class="fa fa-map-marker" style="color:seagreen; font-size:xx-large"></i><a href="http://famcomclinic.org" target="_blank"> Family Community Clinic</a></p>
                    <p style="font-size:large"><i class="fa fa-map-marker" style="color:darkorchid; font-size:xx-large"></i><a href="http://www.fhclouisville.org" target="_blank"> Family Health Centers Louisville</a></p>
                    <p style="font-size:large"><i class="fa fa-map-marker" style="color:midnightblue; font-size:xx-large"></i><a href="http://www.pdchc.org" target="_blank"> Park DuValle Community Health Center</a></p>
                    <p style="font-size:large"><i class="fa fa-map-marker" style="color:dodgerblue; font-size:xx-large"></i><a href="http://shawneechristianhealth.org" target="_blank"> Shawnee Christian Healthcare Center</a></p>
                    <p>&nbsp;</p>


                </div>
                <div class="col-lg-2" align="left">
                    <p><span id="more-313"></span></p>
                    <h2>LaGrange, KY</h2>
                    <br>
                    <p style="font-size:large"><i class="fa fa-map-marker" style="color:gold; font-size:xx-large"></i><a href="http://hopehealthclinicky.com" target="_blank"> Hope Health Clinic</a></p>




                </div>
                <div class="col-lg-2 col-md-12 ">
                    <p><span id="more-313"></span></p>
                    <h2>Shelbyville, KY</h2>
                    <br>
                    <p style="font-size:large"><i class="fa fa-map-marker" style="color:red; font-size:xx-large"></i><a href="http://www.freeclinics.com/det/ky-mercy_medical_clinic_shelbyville" target="_blank"> Mercy Medical Clinic</a></p>

                </div>
                <div class="col-lg-4 col-lg-1 ml-auto">
                    <p><span id="more-313"></span></p>
                    <h2>Southern Indiana</h2>
                    <br>
                    <p style="font-size:large"><i class="fa fa-map-marker" style="color:saddlebrown; font-size:xx-large"></i><a href="http://fhcenters.org" target="_blank"> Family Health Centers of Southern Indiana</a></p>

                </div>
            </div>



            <!--<div id="google-map" data-latitude="38.2527" data-longitude="-85.7585"></div>-->
        </section>
    </section>
</body>
</html>
