@{
    ViewBag.Title = "Directors";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <script>
        window.onload = function () {
            document.getElementById('director').scrollIntoView();
        }
    </script>

    <!--==========================
        Directors Section
    ============================-->
    <section id="director">
        <section id="infoPointer">
            <div>
                <br /><br /><br />
                <h2 style="text-align: center;">Board of Directors</h2>
                <p style="text-align: center;">Our business strategy and affairs are overseen by our board of directors. Get to know our Surgery on Sunday Board of Directors below.</p>
            </div>
            <span></span>
        </section>
        <section id="leadership">
            <div class="container">
                <div class="leadershipContainer">
                    <hr class="greyv2">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="7498a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-shona.jpg?sfvrsn=c3d90727_0" alt="" />
                                <div class="nameInfo">
                                    <h3>Claire Simms</h3>
                                    <p>Corporate Responsibility Manager for LG&E and KU Energy, LLC.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="8798a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-george.jpg?sfvrsn=a6d90727_0" alt="" />
                                <div class="nameInfo">
                                    <h3>Shawn Stevison</h3>
                                    <p>Manager of Healthcare Consulting Services for Dean Dorton Allen Ford, PLLC.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="b67cacae-ef57-6d37-8be6-ff1e00e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/cesarcondebod.jpg?sfvrsn=552bc141_6" alt="" />
                                <div class="nameInfo">
                                    <h3>Philip Rosenbloom</h3>
                                    <p>Provides quality assurance work at Jewish Hospital and St. Mary’s and Surgery On Sunday Louisville</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="7697a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-ianf596a4aeef576d378be6ff1900e253d8.jpg?sfvrsn=e5c1c941_2" alt="" />
                                <div class="nameInfo">
                                    <h3>Sam Walling</h3>
                                    <p>Medical Director of Surgery on Sunday Louisville</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="9798a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-dina.jpg?sfvrsn=6ed90727_0" alt="" />
                                <div class="nameInfo">
                                    <h3>Phyllis Florman</h3>
                                    <p>Vice-chair of the National Association of Commission on Women</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="1bc7a6ae-ef57-6d37-8be6-ff1e00e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/richard-fisher_resize.jpg?sfvrsn=5485cb41_4" alt="" />
                                <div class="nameInfo">
                                    <h3>Ellen Rudd</h3>
                                    <p>President and treasurer of various local organizations in Kentucky and Connecticut</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="92c7a6ae-ef57-6d37-8be6-ff1e00e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/william-r-johnson-heinz-chshr.jpg?sfvrsn=3280cb41_2" alt="" />
                                <div class="nameInfo">
                                    <h3>Dorothy Pitt</h3>
                                    <p>Vice President of Surgery On Sunday Louisville</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="d798a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/leadership/img-leadership-indra.jpg?sfvrsn=b0dbc941_4" alt="" />
                                <div class="nameInfo">
                                    <h3>Dennis Hillen</h3>
                                    <p>Treasurer/CFO for Surgery on Sunday Louisville</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="f697a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-page.jpg?sfvrsn=6bc0c941_2" alt="" />
                                <div class="nameInfo">
                                    <h3>Virginia Mattingly</h3>
                                    <p> Insights Lead for Emerging Consumer and Brands at Brown –Forman</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="adc7a6ae-ef57-6d37-8be6-ff1e00e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/robert-pohlad.jpg?sfvrsn=2380cb41_2" alt="" />
                                <div class="nameInfo">
                                    <h3>Daniel Mudd</h3>
                                    <p>Managing Associate Attorney and Member of Frost Brown Todd</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="0799a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-daniel.jpg?sfvrsn=bd80727_2" alt="" />
                                <div class="nameInfo">
                                    <h3>Sherri Ryan</h3>
                                    <p> Practice Manager for University of Louisville Physicians Neurosurgery Department</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section><!-- #about -->
</body>
</html>
