@{
    ViewBag.Title = "Directors";
}

<link href="~/css/directors.css" rel="stylesheet" />

<!DOCTYPE html>
<html lang="en">
<body>
    <script>
        window.onload = function () {
            document.getElementById('director').scrollIntoView();
        }
    </script>

    <!--==========================
        Directors Section
    ============================-->
    <section id="director">
        <section id="infoPointer">
            <div>
                <br /><br /><br />
                <h2 style="text-align: center;">Board of Directors</h2>
                <p style="text-align: center;">Our business strategy and affairs are overseen by our board of directors. Get to know our Surgery on Sunday Board of Directors below.</p>
            </div>
            <span></span>
        </section>
        <section id="leadership">
            <div class="container">
                <div class="leadershipContainer">
                    <hr class="greyv2">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="7498a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-shona.jpg?sfvrsn=c3d90727_0"
                                     onclick="document.getElementById('modal01').style.display='block'">
                                <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Claire Simms</h1>
                                            <center> <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-shona.jpg?sfvrsn=c3d90727_0" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:120px; padding-right:40px;">
                                                Claire Misbach Simms serves as Corporate Responsibility Manager for LG&E and KU Energy, LLC. Simms comes to LG&E after ten years spent at Fund for the Arts in various fundraising roles.
                                                Simms earned her B.A. in English from Bellarmine University in 2005 and her MBA from Bellarmine in 2013. Simms is a graduate of the Leadership Louisville Ignite Program and serves as a member of the Board of Directors of Surgery on Sunday – Louisville, Inc. and the Main Street Association.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Claire Simms</h3>
                                    <p>Corporate Responsibility Manager for LG&E and KU Energy, LLC.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="8798a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-george.jpg?sfvrsn=a6d90727_0"
                                     onclick="document.getElementById('modal02').style.display='block'">
                                <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Shawn Stevison</h1>
                                            <center> <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-george.jpg?sfvrsn=a6d90727_0" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:120px; padding-right:40px;">
                                                Shawn Stevison, CPA, CHC, CGMA, CRMA is the Manager of Healthcare Consulting Services for Dean Dorton Allen Ford, PLLC.  She is an audit and compliance professional with over 15 years of experience in healthcare, including 11 years of compliance focus.
                                                She focuses her practice in regulatory compliance and risk mitigation for hospitals, inpatient rehabilitation, skill nursing facilities, home health agencies, ambulatory surgery centers, diagnostic testing facilities, and physician practices
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Shawn Stevison</h3>
                                    <p>Manager of Healthcare Consulting Services for Dean Dorton Allen Ford, PLLC.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="b67cacae-ef57-6d37-8be6-ff1e00e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/cesarcondebod.jpg?sfvrsn=552bc141_6"
                                     onclick="document.getElementById('modal03').style.display='block'">
                                <div id="modal03" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Philip Rosenbloom</h1>
                                            <center> <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/cesarcondebod.jpg?sfvrsn=552bc141_6" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:120px; padding-right:40px;">
                                                Philip Marks Rosenbloom, M.D., PH.D (pharmacology) is a recently retired general surgeon, having served his Louisville community for some forty years.
                                                Rosenbloom graduated from Vanderbilt University.  He spent two years of general surgery residency at The Johns Hopkins Hospital in Baltimore; and completed his general surgery residency at University of Louisville.   Currently, Dr. Rosenbloom provides quality assurance work at Jewish Hospital and St. Mary’s and Surgery On Sunday Louisville.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Philip Rosenbloom</h3>
                                    <p>Provides quality assurance work at Jewish Hospital and St. Mary’s and Surgery On Sunday Louisville</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="7697a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-ianf596a4aeef576d378be6ff1900e253d8.jpg?sfvrsn=e5c1c941_2"
                                     onclick="document.getElementById('modal04').style.display='block'">
                                <div id="modal04" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Sam Walling</h1>
                                            <center> <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-ianf596a4aeef576d378be6ff1900e253d8.jpg?sfvrsn=e5c1c941_2" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:120px; padding-right:40px;">
                                                Sam Walling has served as the Medical Director of Surgery on Sunday Louisville since 2013 as well as a member of the organization’s Board of Directors.  He is a recent graduate of the University of Louisville School of Medicine and a Resident Physician in the Department of Surgery at the University of Kentucky Medical Center.
                                                He received his Bachelor’s of Engineering from Vanderbilt University in 2009
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Sam Walling</h3>
                                    <p>Medical Director of Surgery on Sunday Louisville</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="9798a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-dina.jpg?sfvrsn=6ed90727_0"
                                     onclick="document.getElementById('modal05').style.display='block'">
                                <div id="modal05" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Phyllis Florman</h1>
                                            <center>  <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-dina.jpg?sfvrsn=6ed90727_0" alt=""></center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:80px; padding-right:40px;">
                                                Phyllis Florman has served as a commissioner of the Louisville Jefferson County Human Relations Commission and was appointed three times to the Kentucky Commission on Women. During her third term, she was elected vice-chair of the National Association of Commission on Women. Other career highlights include president of the Louisville Bar Foundation, The University of Louisville Law Alumni Association, and The Family Place, a child sexual abuse treatment agency.
                                                Florman was named a Woman of Distinction in 2014 by the Louisville-based Center for Women and Families for her work with victims of domestic abuse.  She now is a professional arbiter and mediator.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Phyllis Florman</h3>
                                    <p>Vice-chair of the National Association of Commission on Women</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="1bc7a6ae-ef57-6d37-8be6-ff1e00e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/richard-fisher_resize.jpg?sfvrsn=5485cb41_4"
                                     onclick="document.getElementById('modal06').style.display='block'">
                                <div id="modal06" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Ellen Rudd</h1>
                                            <center>  <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/richard-fisher_resize.jpg?sfvrsn=5485cb41_4" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:120px; padding-right:40px;"> A retired attorney, a colon cancer survivor, and a long-time volunteer in various capacities, Ellen Rudd’s background includes working with Downs syndrome children, presiding as president and treasurer of various local organizations in Kentucky and Connecticut, strategizing, arguing, organizing, and dreaming. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Ellen Rudd</h3>
                                    <p>President and treasurer of various local organizations in Kentucky and Connecticut</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="92c7a6ae-ef57-6d37-8be6-ff1e00e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/william-r-johnson-heinz-chshr.jpg?sfvrsn=3280cb41_2"
                                     onclick="document.getElementById('modal07').style.display='block'">
                                <div id="modal07" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Dorothy Pitt</h1>
                                            <center>   <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/william-r-johnson-heinz-chshr.jpg?sfvrsn=3280cb41_2" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:70px; padding-right:40px;">
                                                Dorothy Pitt earned her law degree in 1977 from the Brandeis School of Law at the University of Louisville.
                                                She has served as the Corporate Director of Personnel for Humana, was the managing partner for Pitt & Fenton Attorneys at Law, and SVP of Human Resources for Republic Bank & Trust.
                                                She now advises and assists other attorneys in labor and employment law matters; apprentice arbitrator assisting in researching and writing opinions.
                                                Dorothy serves as the Vice President of Surgery On Sunday Louisville where she applies her broad-based knowledge and experience in employment law and human resources.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Dorothy Pitt</h3>
                                    <p>Vice President of Surgery On Sunday Louisville</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="d798a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/leadership/img-leadership-indra.jpg?sfvrsn=b0dbc941_4"
                                     onclick="document.getElementById('modal08').style.display='block'">
                                <div id="modal08" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Dennis Hillen</h1>
                                            <center>  <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/leadership/img-leadership-indra.jpg?sfvrsn=b0dbc941_4" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:90px; padding-right:40px;">
                                                Dennis Hillen has an undergraduate degree in Finance from the University of Kentucky and an MBA from Indiana University – Southeast.
                                                In addition, he is a graduate of Humana’s Healthcare Leaders 2020 program and Leadership Louisville’s Ignite Louisville program.  Dennis leads the Better Care Decisions Platform and the Innovation Strategy and Portfolio Management functions at Humana.  Prior to joining the Innovation team, he served in a variety of successive leadership roles on Humana’s finance team.
                                                Dennis serves as the Treasurer/CFO for Surgery on Sunday Louisville.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Dennis Hillen</h3>
                                    <p>Treasurer/CFO for Surgery on Sunday Louisville</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="f697a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-page.jpg?sfvrsn=6bc0c941_2"
                                     onclick="document.getElementById('modal09').style.display='block'">
                                <div id="modal09" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Virginia Mattingly</h1>
                                            <center>  <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-page.jpg?sfvrsn=6bc0c941_2" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:70px; padding-right:40px;">
                                                Virginia Mattingly earned a BA in psychology, followed by an MBA from Georgetown University McDonough School of Business, where she served as the VP of Admissions of Hispanic and Latin American Student Association, and participated in Global Residency Consulting Project in Vietnam, focused on improving a Vietnamese bank’s marketing and human resources strategies.
                                                Virginia came to Surgery On Sunday as she completed the Leadership Louisville’s Ignite Louisville program.  She has also served on the Fundraising Committee for Peace Education Program, and provides data analysis and serves as the Insights Lead for Emerging Consumer and Brands at Brown –Forman.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Virginia Mattingly</h3>
                                    <p> Insights Lead for Emerging Consumer and Brands at Brown –Forman</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="adc7a6ae-ef57-6d37-8be6-ff1e00e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/robert-pohlad.jpg?sfvrsn=2380cb41_2"
                                     onclick="document.getElementById('modal10').style.display='block'">
                                <div id="modal10" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Daniel Mudd</h1>
                                            <center>  <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/robert-pohlad.jpg?sfvrsn=2380cb41_2" alt=""> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:80px; padding-right:40px;">
                                                Daniel Mudd was a double major in Finance and Business Management at the University of Kentucky Gatton College of Business and Economics, and earned his law degree in 2007 at the University of Kentucky College of Law.  Daniel is a Managing Associate Attorney and Member of Frost Brown Todd, where his focus is in tax law and legal research.
                                                Daniel came to the Board of Directors through the Louisville Ignite Program, and serves Surgery on Sunday Louisville as legal counsel in matters pertaining to non-profit 501(c)3 structure and corporate compliance filings and legal contracts.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Daniel Mudd</h3>
                                    <p>Managing Associate Attorney and Member of Frost Brown Todd</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                            <div class="leaderItem" data-leaderid="0799a4ae-ef57-6d37-8be6-ff1900e253d8">
                                <img src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-daniel.jpg?sfvrsn=bd80727_2"
                                     onclick="document.getElementById('modal11').style.display='block'">
                                <div id="modal11" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom col-md-12 row">
                                        <div class="col-md-6">
                                            <h1 align="center">Sherri Ryan</h1>
                                            <center> <img style="padding-bottom:50px;" src="http://www.pepsico.com/images/album/Leadership/board-of-directors/img-bod-daniel.jpg?sfvrsn=bd80727_2" alt="Sherri" /> </center>
                                        </div>
                                        <div class="col-md-6">
                                            <p align="center" style="padding-top:100px; padding-right:40px;">
                                                Sherri Ryan, RN earned a BS in Business Administration and General Management from Oakland City College, an MBA at Indiana University Southeast, and an RN from Bellarmine University.  Sherri has served as a Practice Manager and Nurse Manager for several healthcare organizations, and is currently the Practice Manager for University of Louisville Physicians Neurosurgery Department.
                                                As a former member of the Louisville Ignite Program, Sherri brings a wealth of knowledge and expertise to the Surgery On Sunday Board of Directors.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="nameInfo">
                                    <h3>Sherri Ryan</h3>
                                    <p> Practice Manager for University of Louisville Physicians Neurosurgery Department</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section><!-- #about -->
</body>
</html>
