
@{
    ViewBag.Title = "Admin Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 90px">@ViewBag.Title</h2>

<!DOCTYPE html>
<html lang="en">

<body><br /><br /><br />
    <section id="landingpage">
        <form>
            <span>
                <input type="button" value="Typeform" onclick="window.location.href='http://www.typeform.com'" formtarget="_top" />
                <input type="button" value="Google Calendar" onclick="window.location.href='http://www.google.com'" formtarget="_top" />
            </span>
            <br>
            <br>
        </form>
    </section>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>
</html>