
@{
    ViewBag.Title = "Admin Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 90px">@ViewBag.Title</h2>

<!DOCTYPE html>
<html lang="en">

<body>
    <br /><br /><br />
    <section id="landingpage">
        <form>
            <span>
                <input type="button" value="Typeform" onclick="getResponses()" formtarget="_top" />
                <input type="button" value="Google Calendar" onclick="window.location.href='http://www.google.com'" formtarget="_top" />
                <a href=@Url.Action("EmailVolunteerPage", "Account")>
                    <input type="button" value="Email Volunteers" />
                </a>
                
            </span>
            <br>
            <br>
        </form>
    </section>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    @*<div class="box" id="physicianForm">
        <div class="icon"><a><i class="fa fa-user-md" aria-hidden="true"></i></a></div>
        <h4 class="title"><a>Physician Volunteer Form</a></h4>
        <p class="description">If you are a physician and would like to volunteer.</p>
    </div>*@

</body>
</html>
<script src="~/js/typeformjs.js"></script>
<script src="https://embed.typeform.com/embed.js" type="text/javascript"></script>

<script type="text/javascript">

    function getResponses() {
        var token = "AnDp8HMSXwSVR2VCbR44hR1y3X4ybiWSs7vNbYmLNQkC";

        //Non-Clinical General
        $.ajax({
            url: "https://api.typeform.com/forms/V8ayYJ/responses",
            headers: {
                "Authorization": "bearer " + token,
            },
            type: "GET",
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Fail: " + errorThrown);
            },
            success: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        });

        //Non-Physician Clinical
        $.ajax({
            url: "https://api.typeform.com/forms/dx25pj/responses",
            headers: {
                "Authorization": "bearer " + token,
            },
            type: "GET",
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Fail: " + errorThrown);
            },
            success: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        });

        //Medical Interpreter
        $.ajax({
            url: "https://api.typeform.com/forms/V6fiB1/responses",
            headers: {
                "Authorization": "bearer " + token,
            },
            type: "GET",
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Fail: " + errorThrown);
            },
            success: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        });

        //Patient Referral
        $.ajax({
            url: "https://api.typeform.com/forms/dONmAG/responses",
            headers: {
                "Authorization": "bearer " + token,
            },
            type: "GET",
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Fail: " + errorThrown);
            },
            success: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        });

        //Volunteer Comment Form
        $.ajax({
            url: "https://api.typeform.com/forms/e7fP9h/responses",
            headers: {
                "Authorization": "bearer " + token,
            },
            type: "GET",
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Fail: " + errorThrown);
            },
            success: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        });

        //Physician
        $.ajax({
            url: "https://api.typeform.com/forms/i7DE5N/responses",
            headers: {
                "Authorization": "bearer " + token,  
            },
            type: "GET",
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Fail: " + errorThrown);
            },
            success: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        });
    };


</script>
