
@{
    ViewBag.Title = "Email Volunteer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 90px">@ViewBag.Title</h2>

<!DOCTYPE html>
<html lang="en">

<body>
    <br /><br /><br />
                <section id="emailVolunteerPage">
                    <div class="row my-4">

                        <div class="col-lg-2 col-md-12 ml-auto" align="left">

                            <h5>Non-Clinical Volunteers</h5>
                            <select name="volunteersList" multiple="multiple">
                                <option>Gopal Parmar</option>
                            </select>
                            <br />
                            <br />
                            <input type="button" value="Add to Recipients">
                            <br />
                            <br />
                            <input type="button" value="Add All">

                            <h5>Non-Physician Volunteers</h5>
                            <select name="volunteersList" multiple="multiple">
                                <option>Patrick Warren</option>
                            </select>
                            <br />
                            <br />
                            <input type="button" value="Add to Recipients">
                            <br />
                            <br />
                            <input type="button" value="Add All">

                            <h5>Medical Interpreter Volunteers</h5>
                            <select name="medicalInterpeterList" multiple="multiple">
                                <option>Nicole Smith</option>
                            </select>
                            <br />
                            <br />
                            <input type="button" value="Add to Recipients">
                            <br />
                            <br />
                            <input type="button" value="Add All">

                            <h5>General Volunteers</h5>
                            <select name="General Volunteer" multiple="multiple">
                                <option>Carlos Acevedo</option>
                            </select>
                            <br />
                            <br />
                            <input type="button" value="Add to Recipients">
                            <br />
                            <br />
                            <input type="button" value="Add All">

                            <h5>Physician Volunteers</h5>
                            <select name="Physician Volunteer" multiple="multiple">
                                <option>Cody Higdon</option>
                                <option>Savannah James</option>
                            </select>
                            <br />
                            <br />
                            <input type="button" value="Add to Recipients">
                            <br />
                            <br />
                            <input type="button" value="Add All">

                        </div>

                    <div class="col-lg-2" align="left">

                        <h5>Recipients</h5>
                        <br />
                        <select name="volunteersList" multiple="multiple"><option>Add Recipients</option></select>
                        <br />
                        <br />

                        <input type="button" value="Remove Recipient">
                        <br />
                        <br />

                        <input type="button" value="Remove All">


                    </div>
                    <div class="col-lg-7 col-md-12 ">

                        <h5>Compose Message</h5>
                        <br />

                        <div class="label">
                            <label for="subject">

                                Subject
                            </label>
                        </div>

                        <div class="field">

                            <input type="text" name="subject_t" id="subject_t" value="" size="50" maxlength="50" />



                            <!--//todo: add validation for subject-->

                            <span class="fieldErrorText"></span>

                        </div>
                        <br>

                        <div class="label">
                            <label for="Message">

                                Message
                            </label>
                        </div>

                        <div class="wmd-container">
                            <div id="wmd-button-bar" class="wmd-button-bar"></div>
                            <textarea id="wmd-input" class="wmd-input" name="post-text" cols="80" rows="12" tabindex="101" data-min-length="20"></textarea>
                        </div>
                        <br>

                        <input type="button" value="Send">



                    </div>
                    </div>


                </section>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
   

</body>
</html>
