@{
    ViewBag.Title = "Staff";
}
<!DOCTYPE html>

<html>
<body>
    <script>
        window.onload = function () {
            document.getElementById('staff').scrollIntoView();
        }
    </script>

<!--==========================
    Staff Section
============================-->
<section id="staff">
    <section id="infoPointer">
        <div>
            <br /><br /><br />
            <h2 style="text-align: center;">Staff Members</h2>
            <p style="text-align: center;">Our friendly Surgery on Sunday Louisville, Inc. Staffare dedicated to serving all SOS Lou patients, volunteers, and partners.</p>
        </div>
        <span></span>
    </section>
    <section id="leadership">
        <div class="container">
            <div class="leadershipContainer">
                <hr class="greyv2">
                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                        <div class="leaderItem" data-leaderid="7498a4ae-ef57-6d37-8be6-ff1900e253d8">
                            <img src="~/img/Francis.jpeg" />
                            <div class="nameInfo">
                                <h3>Patty Francis</h3>
                                <h4>Executive Director</h4>
                                <p>
                                    Patty is an accomplished, results-oriented non-profit management professional
                                    with over 20 years experience in non-profit fundraising. Her passion for expanding
                                    access to care began when her mother died of preventable colon cancer due to lack of
                                    health insurance.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                        <div class="leaderItem" data-leaderid="8798a4ae-ef57-6d37-8be6-ff1900e253d8">
                            <img src="~/img/Erica Sutton.jpg" />
                            <div class="nameInfo">
                                <h3>Erica Sutton, M.D.</h3>
                                <h4>President & CEO</h4>
                                <p>
                                    Erica Sutton, founder of Surgery on Sunday Louisville, is a passionate
                                    member of the Louisville medical community. Dr. Sutton is a
                                    renowned alumnus of The Johns Hopkins University School of
                                    Medicine in Baltimore, Maryland. Serving as Chief of Surgery
                                    at Jewish Hospital and St. Mary’s Hospital in Louisville Kentucky
                                    and as an Assistant Professor of Medicine at the University of Louisville,
                                    Erica strives to improve access to quality surgical care for all.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                        <div class="leaderItem" data-leaderid="b67cacae-ef57-6d37-8be6-ff1e00e253d8">
                            <img src="~/img/sam.png" height="300" width="300"/>
                            <div class="nameInfo">
                                <h3>Sam Walling, M.D.</h3>
                                <h4>Medical Director</h4>
                                <p>
                                    Sam Walling is a first year Surgical Resident at the University of Kentucky.
                                    He graduated from the University of Louisville School of Medicine in 2017 and
                                    received a Bachelor’s Degree in Biomedical Engineering from Vanderbilt
                                    University in Nashville, Tennessee.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                        <div class="leaderItem" data-leaderid="7697a4ae-ef57-6d37-8be6-ff1900e253d8">
                            <img src="~/img/beatriz.jpeg" />
                            <div class="nameInfo">
                                <h3>Beatriz Sanchez</h3>
                                <h4>Clinical Coordinator</h4>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-6 leaderCol">
                        <div class="leaderItem" data-leaderid="9798a4ae-ef57-6d37-8be6-ff1900e253d8">
                            <img src="~/img/jordan.jpg" />
                            <div class="nameInfo">
                                <h3>Jordan Licata</h3>
                                <h4>Program Coordinator</h4>
                                <p>
                                    Jordan is currently an undergraduate student at the University of
                                    Louisville pursing bachelor’s degrees in Biology and Public Health. He has been a partner of
                                    Surgery on Sunday Louisville since 2016 and joined the organization
                                    in an official capacity in July of 2017.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section><!-- #about -->

</body>
</html>
