@{
    ViewBag.Title = "Staff";
}
<!DOCTYPE html>

<html>
<body>
    <script>
        window.onload = function () {
            document.getElementById('staff').scrollIntoView();
        }
    </script>

<!--==========================
    Staff Section
============================-->
<section id="staff">
    <center>
    <div class="col-xl-7 col-sm-4 col-md-3">

        <br><br><br>
        <h1>STAFF MEMBERS</h1>
        <h6>Our friendly Surgery on Sunday Louisville, Inc. Staff<br /> are dedicated to serving all SOS Lou patients,<br /> volunteers, and partners.</h6>
        <hr />

            <img src="~/img/Francis.jpeg" width="150" height="150" /><br /><br />
            Patty Francis (Executive Director) <br /><br />
        <p>
            Patty is an accomplished, results-oriented non-profit management professional
            with over 20 years experience in non-profit fundraising. Her passion for expanding
            access to care began when her mother died of preventable colon cancer due to lack of
            health insurance.
        </p>
        <hr />
        <img src="~/img/Erica Sutton.jpg" width="150" height="150" /><br /><br />
        Erica Sutton, M.D. (President & CEO)<br /><br />
        <p>
            Erica Sutton, founder of Surgery on Sunday Louisville, is a passionate
            member of the Louisville medical community. Dr. Sutton is a
            renowned alumnus of The Johns Hopkins University School of
            Medicine in Baltimore, Maryland. Serving as Chief of Surgery
            at Jewish Hospital and St. Mary’s Hospital in Louisville Kentucky
            and as an Assistant Professor of Medicine at the University of Louisville,
            Erica strives to improve access to quality surgical care for all.
        </p>
        <hr />
        <img src="~/img/sam.png" width="150" height="150" /><br /><br />
        Sam Walling, M.D. (Medical Director)<br /><br />
        <p>
            Sam Walling is a first year Surgical Resident at the University of Kentucky.
            He graduated from the University of Louisville School of Medicine in 2017 and
            received a Bachelor’s Degree in Biomedical Engineering from Vanderbilt
            University in Nashville, Tennessee.
        </p>
        <hr />
        <img src="~/img/beatriz.jpeg" width="150" height="150" /><br /><br />
        Beatriz Sanchez (Clinical Coordinator)<br /><br />
        <p>    </p>
        <hr />
        <img src="~/img/jordan.jpg" width="150" height="150" /><br /><br />
        Jordan Licata (Program Coordinator)<br /><br />
        <p>
            Jordan is currently an undergraduate student at the University of
            Louisville pursing bachelor’s degrees in Biology and Public Health. He has been a partner of
            Surgery on Sunday Louisville since 2016 and joined the organization
            in an official capacity in July of 2017.
        </p>
    </div>
</center>
</section><!-- #staff -->
</body>
</html>
